{% extends 'base.html' %}
{% load static %}
{% block title %}
    Add to Inventory
{% endblock title %}

{% block body %}
    <div class="main">
<form action="" method="post">
    {% csrf_token %}
    <p>
        Inventory name <input align="center" type="text" name="inventory_name">
    </p>
    <p>
        Inventory id <input align="center" type="number" name="id">
    </p>
    <p>
        Ingredient <input align="center" type="text" name="ingre_name">
    </p>
    <p>
        Amount <input align="center" type="number" name="amnt">
    </p>
    <p>
        Units for Amount (e.g. liters, cups...) <input align="center" type="text" name="unit">
    </p>
    <p>
        Expiry Date <input align = "center" type="date" name="expiry">
    </p>
    <p>
        <button type="submit">Add ingredient to pantry</button>
    </p>
</form>
    {{ success }}
<!-- </body> -->
{% endblock body %}
<!-- </html> -->