{% extends 'base.html' %}
{% load static %}
{% block title %}
    InvRec
{% endblock title %}

{% block body %}
    <table border="1" class="table table-hover table-bordered" cellpadding="4" cellspacing="0" style="width: 60%;margin:100px 250px;color: ">
        <tr>
            <td style="width:40px" align="center">
                <a href="/PandaXpress/user/?id={{ USER.member_id }}" style="font-size:14pt;
	font-family:Arial, Helvetica, sans-serif; color: black">
                    <img src="{% static 'img/refrig2.jpg' %}" height="120 px">
                    <hr>
                    Fill your inventory and match recipes for you. Never be confused about what to cook today!
                </a>
            </td>
            <td style="width:40px" align="center">
                <a href="/PandaXpress/recipe_ingredients/" style=" font-size:14pt;
	font-family:Arial, Helvetica, sans-serif; color: black">
                <img src="{% static 'img/food.jpeg' %}" height="120 px">
                    <hr>
                    Search the name, ingredients, country of the recipes that you want. Also meet  time requirments.
                </a>
            </td>
            <td style="width:40px" align="center">
                <a href="/PandaXpress/user/?id={{ USER.member_id }}" style=" font-size:14pt;
	font-family:Arial, Helvetica, sans-serif; color: black">
                    <img src="{% static 'img/create.jpg' %}" height="120 px">
                    <hr>
                    Have your own idea and recipes? Let’s create here and share to others!
                </a>
            </td>
        </tr>
    </table>
{% endblock body %}