{% extends 'base.html' %}
{% load static %}
{% block title %}
    Show Recipe
{% endblock title %}

{% block body %}
    <form action="">
        <label for="">
            input the ingredients of recipes you want:  <input type="text" name="ind" placeholder="milk,potato">
        </label>
        {# submit the sheet #}
        <label for="">
            <input type="submit" value="Submit" name="searchingredient">
        </label>
    </form>
    <form action="">
        <label for="">
            input the recipe name :  <input type="text" name="reci_name" placeholder="waffles">
        </label>
        {# submit the sheet #}
        <label for="">
            <input type="submit" value="Submit" name="searchname">
        </label>
    </form>
    <hr>
{{ error }}
{% for i in data %}
    Number: {{ forloop.counter }}<br>
    Recipe Name: <a href="/PandaXpress/recipe/detail/?id={{ i.recipe_id }}">{{ i.recipe_name }}</a><br>
    Recipes Description: {{ i.recipe_description }}<br>
    Cooking Time: {{ i.cooking_time }} minutes <br>
    <hr>
{% endfor %}
{% endblock body %}
