{% extends 'base.html' %}
{% load static %}
{% block title %}
    Show Recipe
{% endblock title %}

{% block body %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <button type="submit" class="btn btn-default" name="AddLike">Like this recipe</button>
        </p>
    </form>
    {{ error }}
<div class='newclass'>
<form action="" >
    {% csrf_token %}
    {% for i in data %}
        <p>
            Recipe name: {{ i.0 }}
        </p>

        <p>
            Recipe description: {{ i.1 }}
        </p>
        <p>
            Cooking time: {{ i.2 }}
        </p>
        <p>
            Ingredients: {{ i.3 }}
        </p>
        <p>
            Steps: {{ i.4 }}
        </p>
    {% endfor %}
{% for i in nutrient %}
    <p>{{ i.nutrient_name }}: {{ i.nutrient_amnt }}</p>
<hr>
{% endfor %}
</form>
</div>

{% endblock body %}