{% extends 'base.html' %}
{% load static %}
{% block title %}
    Show Recipe
{% endblock title %}

{% block body %}
<form action="" method="post">
    {% csrf_token %}
    <p>
        <input type = "hidden" name = "id" value="{{ i.recipe_id }}">
    </p>
    <p>
        recipe_name:<input type="text" name="recipe_name" value="{{ i.recipe_name }}">
    </p>
    <p>
        recipe_description: <input type="text" name="recipe_description" value="{{ i.recipe_description }}">
    </p>
    <p>
        <button type="submit">Update</button>
    </p>
</form>

{% endblock body %}