<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show_Inventories</title>
</head>
<body>
    <a href='search/'>SEARCH<br></a>
</body>
<body>
    <table border='1'>
        <thead class="thead">
            <tr>
                <th>Inventory ID</th>
                <th>Inventory Name </th>
                <th>Action</th>
            </tr>
        </thead>
    {% for i in data %}
        <tr>
            <td>{{i.inventory_id }} </td>
            <td>{{i.Inventory_name }}</td>
            <td><a href='delete/?id={{ i.inventory_id }}'>Delete</a> </td>
        </tr>
    {% endfor %}
    </table>
</body>
<a href='update/?id={{i.inventory_id}}'>UPDATE<br></a>
<a href='create/'>CREATE<br></a>
<a href='adv/'>ADVANCED QUERY HERE<br></a>
</html>