{% extends 'base.html' %}
{% load static %}
{% block title %}
    Show Recipe
{% endblock title %}

{% block body %}
    <table border='1' align="center">
        <thead class="thead">
            <tr>
                <th>Recipe name</th>
                <th>Recipe_description </th>
                <th>Action</th>
            </tr>
        </thead>
    {% for i in data %}
        <tr>
            <td><a href="/PandaXpress/recipe/detail/?id={{ i.recipe_id }}">{{i.recipe_name }}</a> </td>
            <td>{{i.recipe_description }}</td>
            <td><a href='/PandaXpress/recipe/update/?id={{ i.recipe_id }}'>Edit</a> | <a href='/PandaXpress/recipe/delete/?id={{ i.recipe_id }}'>Delete</a> </td>
        </tr>
    {% endfor %}
    </table>
{% endblock body %}
